{% load static %}

<section class="py-5">

    <div class="container">

        <div class="text-center mb-5">

            <h2 class="fw-bold">

                Featured Projects

            </h2>

        </div>

        <div class="row g-4">

            <div class="col-lg-4">

                <div class="card shadow">

                    <img src="{% static 'images/projects/ProjectImg.jpeg' %}"
                         class="card-img-top">

                    <div class="card-body">

                        <h5>Dynamic Portfolio CMS</h5>

                        <p>

                            Professional portfolio developed using Django.

                        </p>

                    </div>

                </div>

            </div>

            <div class="col-lg-4">

                <div class="card shadow">

                    <img src="{% static 'images/projects/E_Commerce_Website.webp' %}"
                         class="card-img-top">

                    <div class="card-body">

                        <h5>E-Commerce Website</h5>

                        <p>

                            Online shopping application using Django.

                        </p>

                    </div>

                </div>

            </div>

            <div class="col-lg-4">

                <div class="card shadow">

                    <img src="{% static 'images/projects/Blog1.png' %}"
                         class="card-img-top">

                    <div class="card-body">

                        <h5>Blog Application</h5>

                        <p>

                            Blogging platform with Admin Panel.

                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>