{% extends 'base.html' %}

{% block title %}
{{ project.title }}
{% endblock %}

{% block content %}

<section class="project-detail-section py-5">

    <div class="container">

        <h1 class="fw-bold mb-3">
            {{ project.title }}
        </h1>

        <hr>

        {% if project.image %}

        <img
            src="{{ project.image.url }}"
            class="img-fluid rounded shadow mb-4"
            alt="{{ project.title }}">

        {% endif %}

        <p class="lead">

            {{ project.short_description }}

        </p>

        <p>

            <strong>Technologies :</strong>

            {{ project.technologies }}

        </p>

        <div class="mt-4">

            {% if project.github_link %}

            <a
                href="{{ project.github_link }}"
                class="btn btn-dark me-2"
                target="_blank">

                GitHub

            </a>

            {% endif %}

            {% if project.live_demo %}

            <a
                href="{{ project.live_demo }}"
                class="btn btn-primary"
                target="_blank">

                Live Demo

            </a>

            {% endif %}

        </div>

    </div>

</section>

{% endblock %}