{% extends 'base.html' %}

{% block title %}
{{ project.title }}
{% endblock %}

{% block content %}

<div class="container py-5">

    <h1>

        {{ project.title }}

    </h1>

    <hr>

    <img src="{{ project.image.url }}"
         class="img-fluid rounded mb-4"
         alt="{{ project.title }}">

    <p>

        {{ project.short_description }}

    </p>

    <p>

        <strong>Technologies :</strong>

        {{ project.technologies }}

    </p>

    {% if project.github_link %}

    <a href="{{ project.github_link }}"
       class="btn btn-dark"
       target="_blank">

        GitHub

    </a>

    {% endif %}

    {% if project.live_demo %}

    <a href="{{ project.live_demo }}"
       class="btn btn-primary"
       target="_blank">

        Live Demo

    </a>

    {% endif %}

</div>

{% endblock %}